.error {
    color: red;
}

.issue__exception-name, .issue__error-path {
    font-size: 22px;
}

.issue__exception-msg, .issue__exception-time {
    font-size: 20px;
}

.issue__exception-time {
    color: rgb(99, 99, 99);
    font-weight: normal;
}

.issue__meta:not(:last-child) {
    margin-right: 32px;
}

.issue__meta__heading {
    text-transform: uppercase;
    font-weight: 600;
}

.issue__meta__content {
    text-align: right;
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.subheading {
    text-transform: none;
    font-weight: normal;
}

code {
    color: #000000;
}

.line-no {
    font-weight: 600;
    margin-right: 8px;
    border-right: 1px solid #000000;
    color: #636363d2;
}

.context__item:not(:last-child) {
    margin-right: 32px;
}

.context__item__heading {
    font-size: 22px;
}

.issue__context__body {
    background-color: #F7F8F9;
}

.issue__stack__frame__name {
    font-size: 16px;
}

.issue__stack__frame__name:hover {
    cursor: pointer;
}

.issue__stack__frame__file, .issue__stack__frame__function, .issue__stack__frame__line {
    font-weight: 600;
}

/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* New Styles */
/* ++++++++++++++++++++++++++++++++++++++++++++ */

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.highlight {
    background-color: black;
    color: white;
}

.highlight--round {
    border-radius: 4px;
}

.card-header, .card-footer {
    background-color: transparent;
}

.show .card-header {
    border-bottom: 1px solid black;
}

.meta__card, .issue__meta__header {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
}

.meta__card, .issue__meta__header {
    border-radius: 4px;
}

.meta__card {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    border: none;
}

.meta__card--bordered {
    border: 1px solid black;
}

.meta__card--no-shadow {
    box-shadow: none;
}

.meta__card--transparent-border {
    border: 1px solid transparent;
    transition: all 0.2s;
}

.meta__card--transparent-border:hover {
    border: 1px solid black;
}

.meta__card__bg {
    position: absolute;
    top: 0;
    right: -50px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.meta__card__heading {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.meta__card__heading--20 {
    font-size: 20px;
}

.meta__card__heading--normal {
    text-transform: none;
}

.meta__card__content {
    font-weight: 900;
    font-size: 72px;
}

.meta__card__content--normal {
    font-size: 16px;
}

.issue__name {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
    color: red;
}

.issue__message {
    font-size: 18px;
}

.frame__local-variable, .issue__context {
    background-color: aliceblue;
    border-bottom: 1px solid black;
}

.frame__local-variable:first-child {
    border-top: 1px solid black;
}

.frame__local-variable:last-child {
    border-bottom: none;
}

.issue__context {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.issue__context:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.issue__context:first-child {
    border-top: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.onboarding-img {
    border-radius: 8px;
}