{% extends '../common/base.html' %} {% load static %} {% block main %}
<div class="container">
  <p class="display-1">Integrations</p>
  {% if github_integrated %}
  <div class="container">
    <a id="get-github-info" href="{% url 'github_logout' %}" class="btn btn-danger">Disintegrate Github</a>
    <div id="github-user-info"></div>
  </div>
  {% else %}
  <div class="container">
    <a id="" href="https://github.com/login/oauth/authorize?client_id=4198e9c3d7d7c4e026d7&scope=repo"
      class="btn btn-success">GITHUB</a>
  </div>
  {% endif %}
  {% if slack_integrated %}
  <div class="container mt-3">
    <a id="get-slack-info"
      href="{% url 'slack_disintegrate' %}"
      class="btn btn-danger">Disintegrate Slack</a>
  </div>
  {% else %}
  <div class="container mt-3">
    <a id="get-slack-info"
      href="https://slack.com/oauth/authorize?client_id=907032534615.907035536775&scope=incoming-webhook"
      class="btn btn-success">Slack</a>
  </div>
  {% endif %}
</div>
<script src="{% static 'js/github_user_info.js' %}"></script>
{% endblock %}