{% extends '../common/base.html' %}
{% block main %}
<div class="container mt-5">
  <div class="row text-center">
      <div class="col-12">
          <h3>There was an error with your integration request.</h3>
      </div>
      <div class="col-12">Error: <span class="font-weight-bold">{{error}}</span></div>
      <div class="col-12 mt-2">
          <a href="{% url 'integrations' %}">Go Back</a>
      </div>
  </div>
</div>
{% endblock %}
