{% extends '../common/base.html' %}
{% load static %}
{% block main %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 mt-5 mb-4">
                <div class="row">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="meta__card px-4 py-3">
                            <img src="{% static 'img/blobs/1.svg' %}" class="meta__card__bg">
                            <div class="meta__card__heading">
                                Events
                            </div>
                            <div class="meta__card__content">
                                {{ issue.group.event_count }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="meta__card px-4 py-3">
                            <img src="{% static 'img/blobs/2.svg' %}" class="meta__card__bg">
                            <div class="meta__card__heading">
                                Users
                            </div>
                            <div class="meta__card__content">
                                {{ issue.group.user_count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="issue__meta__header meta__card--no-shadow px-4 py-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="d-flex align-items-end mb-2">
                                <div class="issue__name mr-3">{{ issue.exception_name }}</div>
                                <div class="issue__error-path">{{ issue.error_path }}</div>
                            </div>
                            <div class="issue__message">{{ issue.exception_message }}</div>
                        </div>
                        <div>
                            <div class="mt-2 d-flex justify-content-center">
                                <a href="{% url 'prev_issue' group_id=issue.group.pk id=issue.pk %}" class="btn btn-outline-dark mr-3">Prev</a>
                                <a href="{% url 'next_issue' group_id=issue.group.pk id=issue.pk %}" class="btn btn-outline-dark">Next</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-0 mt-3 justify-content-center">
                        <div class="col-3">
                            <div class="meta__card px-4 py-3">
                                <img src="{% static 'img/blobs/1.svg' %}" class="meta__card__bg">
                                <div class="meta__card__heading">
                                    {{ issue.request_ip }}
                                </div>
                                <div class="meta__card__content meta__card__content--normal mt-1">
                                    {{ issue.request_user }}
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="meta__card px-4 py-3">
                                <img src="{% static 'img/blobs/2.svg' %}" class="meta__card__bg">
                                <div class="meta__card__heading">
                                    {{ browser_info.browser.name |default:"Browser N/A" }}
                                </div>
                                <div class="meta__card__content meta__card__content--normal mt-1">
                                    {{ browser_info.browser.version |default:"Version N/A" }}
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="meta__card px-4 py-3">
                                <img src="{% static 'img/blobs/3.svg' %}" class="meta__card__bg">
                                <div class="meta__card__heading">
                                    {{ browser_info.platform.name |default:"OS N/A" }}
                                </div>
                                <div class="meta__card__content meta__card__content--normal mt-1">
                                    {{ browser_info.dist.name |default:"Distribution N/A" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="meta__card meta__card--no-shadow px-4 py-3">
                    <div class="meta__card__heading">
                        Exceptions
                    </div>
                    <div class="mt-3" id="accordion">
                        {% for frame in frames %}
                            <div class="mt-2 card meta__card meta__card--no-shadow meta__card--bordered">
                                <div class="card-header p-0" id="headingOne">
                                <h5 class="mb-0">
                                    <div class="px-4 py-3 issue__stack__frame__name" data-toggle="collapse" data-target="#{{frame.error_file | slugify}}-{{frame.function_name | slugify}}" aria-expanded="true" aria-controls="{{fsrame.error_file | slugify}}-{{frame.function_name | slugify}}">
                                        <span class="issue__stack__frame__file">{{ frame.error_file }}</span> in <span class="issue__stack__frame__function">{{ frame.function_name }}</span> at line <span class="issue__stack__frame__line">{{ frame.error_line }}</span>
                                    </div>
                                </h5>
                                </div>
                                {% if forloop.first %}
                                    <div id="{{frame.error_file | slugify}}-{{frame.function_name | slugify}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body px-0">
                                            <div class="container">
                                                <code>
                                                    {% for frame_line_no ,frame_line in frame.frame %}
                                                        {% if frame.error_line == frame_line_no %}
                                                            <div class="row highlight">
                                                                <div class="col-1">{{ frame_line_no }}</div>
                                                                <div class="col-11">
                                                                    <xmp class="d-inline">{{ frame_line }}</xmp>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="row">
                                                                <div class="col-1">{{ frame_line_no }}</div>
                                                                <div class="col-11">
                                                                    <xmp class="d-inline">{{ frame_line }}</xmp>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </code>
                                            </div>
                                        </div>
                                        <div class="card-footer p-0">
                                            <div class="container">
                                                {% for var, var_value in frame.local_variables.items %}
                                                    <div class="row py-2 frame__local-variable">
                                                        <div class="col-3 pl-4 font-weight-bold">
                                                            {{ var }}
                                                        </div>
                                                        <div class="col-9">
                                                            {{ var_value }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="{{frame.error_file | slugify}}-{{frame.function_name | slugify}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body px-0">
                                            <div class="container">
                                                <code>
                                                    {% for frame_line_no ,frame_line in frame.frame %}
                                                        {% if frame.error_line == frame_line_no %}
                                                            <div class="row highlight">
                                                                <div class="col-1">{{ frame_line_no }}</div>
                                                                <div class="col-11">
                                                                    <xmp class="d-inline">{{ frame_line }}</xmp>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="row">
                                                                <div class="col-1">{{ frame_line_no }}</div>
                                                                <div class="col-11">
                                                                    <xmp class="d-inline">{{ frame_line }}</xmp>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </code>
                                            </div>
                                        </div>
                                        <div class="card-footer p-0">
                                            <div class="container">
                                                {% for var, var_value in frame.local_variables.items %}
                                                    <div class="row py-2 frame__local-variable">
                                                        <div class="col-3 pl-4 font-weight-bold">
                                                            {{ var }}
                                                        </div>
                                                        <div class="col-9">
                                                            {{ var_value }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="meta__card meta__card--no-shadow px-4 py-3">
                    <div class="meta__card__heading">
                        <span class="font-weight-bold">{{ issue.request_method }}</span>
                        <span class="subheading">{{ issue.error_path }}</span>
                    </div>
                    {% if issue.cookies %}
                        <div class="col-12 mt-3 px-0">
                            <div class="meta__card meta__card--no-shadow px-4 py-3">
                                <div class="meta__card__heading">Cookies</div>
                                <div class="container mt-3">
                                        {% for cookie, cookie_value in issue.cookies.items %}
                                            <div class="row py-2 issue__context">
                                                <div class="col-3 font-weight-bold">
                                                    {{ cookie }}
                                                </div>
                                                <div class="col-9 text-break">
                                                    {{ cookie_value }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-12 mt-3 px-0">
                        <div class="meta__card meta__card--no-shadow px-4 py-3">
                            <div class="meta__card__heading">Headers</div>
                            <div class="container mt-3">
                                    {% for header, header_value in issue.request_header.items %}
                                        <div class="row py-2 issue__context">
                                            <div class="col-3 font-weight-bold">
                                                {{ header }}
                                            </div>
                                            <div class="col-9 text-break">
                                                {{ header_value }}
                                            </div>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}