{% extends '../common/base.html' %}
{% block main %}
<div class="container mb-5">
  <h3 class="meta__card__heading text-center my-3">Issues</h3>
  <ul class="list-group">
    {% for group in groups %}
      {% with issue=group.issue_set.all.last %}
        {% if issue %}
          <a href="{% url 'issue_detail' id=issue.pk %}">
            <div class="meta__card meta__card--transparent-border d-flex justify-content-between px-4 py-3 mb-3">
              <div>
                <div class="meta__card__heading meta__card__heading--normal">
                  <span class="font-weight-bold mr-2">{{ issue.exception_name }}</span>
                  <span class="text-muted">{{ issue.error_path }}</span>
                </div>
                <div class="meta__card__content meta__card__content--normal mt-1">
                  {{ issue.exception_message }}
                </div>
                <div>
                  <small class="text-muted">{{ group.interval_start }} - {{ group.interval_end }}</small>
                </div>
              </div>
              <div class="d-flex">
                <div class="mr-4">
                  <div class="meta__card__heading">
                    events
                  </div>
                  <div class="text-right" id="event-count-{{ group.pk }}">
                    {{ group.event_count }}
                  </div>
                </div>
                <div>
                  <div class="meta__card__heading">
                    users
                  </div>
                  <div class="text-right" id="user-count-{{ group.pk }}">
                    {{ group.user_count }}
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endif %}
      {% endwith %}
    {% endfor %}
  </ul>
</div>


<script>
    // websocket scripts
    let loc = window.location
    let wsStart = 'ws://'
    if (loc.protocol == 'https:') {
      wsStart = 'wss://'
    }
    let endpoint = wsStart + loc.host + loc.pathname
    let socket = new WebSocket(endpoint);

    const issuesContainer = document.querySelector('.list-group');

    socket.onmessage = function (e) {
      console.log("message", e)
      const data = JSON.parse(e.data);
      const groupId = data.group_id;
      const groupEventCount = data.event_count;
      const groupUserCount = data.user_count;
      const groupEventCountElement = document.getElementById(`event-count-${groupId}`);
      const groupUserCountElement = document.getElementById(`user-count-${groupId}`);
      if (groupEventCountElement) {
        groupEventCountElement.innerText = groupEventCount;
        groupUserCountElement.innerText = groupUserCount;
      } else {
        const newIssueElement = createIssueElement(data);
        issuesContainer.prepend(newIssueElement);
      }
    }
    socket.onopen = function (e) {
      console.log("open", e)
    }
    socket.onerror = function (e) {
      console.log("error", e)
    }
    socket.onclose = function (e) {
      console.log("close", e)
    }

    function createIssueElement(issue) {
      const anchor = document.createElement('a');
      anchor.setAttribute('href', `http://localhost:8000/issues/${issue.id}`) // add link to detail page here
      const metaCardElement = document.createElement('div');
      metaCardElement.classList.add('meta__card', 'meta__card--transparent-border', 'd-flex', 'justify-content-between', 'px-4', 'py-3', 'mb-3')
      anchor.appendChild(metaCardElement);
      const divElement = document.createElement('div');
      metaCardElement.appendChild(divElement);
      const metaCardHeadingElement = document.createElement('div');
      metaCardHeadingElement.classList.add('meta__card__heading', 'meta__card__heading--normal');
      divElement.appendChild(metaCardHeadingElement);
      const exceptionNameElement = document.createElement('span');
      exceptionNameElement.classList.add('font-weight-bold', 'mr-2');
      metaCardHeadingElement.appendChild(exceptionNameElement);
      const exceptionNameTextNode = document.createTextNode(issue.issue_name) // add exception name here
      exceptionNameElement.appendChild(exceptionNameTextNode);
      const errorPathElement = document.createElement('span');
      errorPathElement.classList.add('text-muted');
      metaCardHeadingElement.appendChild(errorPathElement);
      const errorPathTextNode = document.createTextNode(issue.error_path) // add error path here
      errorPathElement.appendChild(errorPathTextNode);
      const metaCardContentElement = document.createElement('div');
      metaCardContentElement.classList.add('meta__card__content', 'meta__card__content--normal', 'mt-1');
      divElement.appendChild(metaCardContentElement);
      const metaCardContentTextNode = document.createTextNode(issue.issue_msg) // add exception message here
      metaCardContentElement.appendChild(metaCardContentTextNode);
      const divElement2 = document.createElement('div');
      divElement.appendChild(divElement2);
      const groupIntervalElement = document.createElement('small');
      groupIntervalElement.classList.add('text-muted');
      divElement2.appendChild(groupIntervalElement);
      const groupIntervalTextNode = document.createTextNode(`${issue.group_interval_start} - ${issue.group_interval_end}`) // add group intervals here
      groupIntervalElement.appendChild(groupIntervalTextNode);
      
      const flexElement = document.createElement('div');
      flexElement.classList.add('d-flex');
      metaCardElement.appendChild(flexElement);
      const mrElement = document.createElement('div');
      mrElement.classList.add('mr-4');
      flexElement.appendChild(mrElement);
      const eventCountHeadingElement = document.createElement('div');
      eventCountHeadingElement.classList.add('meta__card__heading');
      mrElement.appendChild(eventCountHeadingElement);
      const eventCountHeadingTextNode = document.createTextNode('events') // add event count here
      eventCountHeadingElement.appendChild(eventCountHeadingTextNode);
      const eventCountContentElement = document.createElement('div');
      eventCountContentElement.classList.add('text-right');
      eventCountContentElement.setAttribute('id', `event-count-${issue.group_id}`) // add event count ID here
      mrElement.appendChild(eventCountContentElement);
      const eventCountContentTextNode = document.createTextNode(issue.event_count) // add event count here
      eventCountContentElement.appendChild(eventCountContentTextNode);

      const divElement3 = document.createElement('div');
      flexElement.appendChild(divElement3);

      const userCountHeadingElement = document.createElement('div');
      userCountHeadingElement.classList.add('meta__card__heading');
      divElement3.appendChild(userCountHeadingElement);
      const userCountHeadingTextNode = document.createTextNode('users') // add u count here
      userCountHeadingElement.appendChild(userCountHeadingTextNode);
      const userCountContentElement = document.createElement('div');
      userCountContentElement.classList.add('text-right');
      userCountContentElement.setAttribute('id', `user-count-${issue.group_id}`) // add user count ID here
      divElement3.appendChild(userCountContentElement);
      const userCountContentTextNode = document.createTextNode(issue.user_count) // add user count here
      userCountContentElement.appendChild(userCountContentTextNode);
      return anchor;
    }
</script>
{% endblock %}