{% extends '../common/base.html' %}
{% load static %}
{% block main %}
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="meta__card__heading meta__card__heading--20 mb-3">Welcome to Sentinel</div>
                <p>Your API Key for the application is <code class="p-1 highlight highlight--round">{{ api_key.value }}</code></p>
                <div class="meta__card__heading meta__card__heading--20 mb-3">How to integrate the middleware to your application:</div>
                <ol>
                    <li>Download / <a href="https://gitlab.com/SauravChanda/sentry-clone-middleware-sdk">Clone</a> the middleware</li>
                    <li class="mt-3">Run <code class="p-1 highlight highlight--round">pip3 install requests</code></li>
                    <li class="mt-3">Add the Middleware to your project directory</li>
                    <li class="mt-3">
                        Add your_project_directory_name.sentry-clone-middleware-sdk.middleware.ErrorCapturingMiddleware to settings.py
                        <img class="mt-2 onboarding-img" src="{% static 'img/middleware.png' %}" alt="Add API KEY to settings.py">
                    </li>
                    <li class="mt-3">
                        Add X_API_KEY to your settings.py <br>
                        <img class="mt-2 onboarding-img" src="{% static 'img/X_API_KEY.png' %}" alt="Add API KEY to settings.py">
                    </li>
                </ol>
                <a href="{% url 'issues' %}" class="btn btn-outline-dark">Go to Dashboard</a>
            </div>
        </div>
    </div>
{% endblock %}