{% extends '../common/base.html' %}

{% block main %}
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="col-12">
                    <h2 class="text-center">Login</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {% if form.username.errors %}
                            <label for="" class="form-text">{{ form.username.label }}</label>
                            <input type="text" name="{{ form.username.html_name }}" class="form-control is-invalid">
                            {% for error in form.username.errors %}
                                <div class="error mt-2">{{ error }}</div>
                            {% endfor %}
                            {% else %}
                            <label for="" class="form-text">{{ form.username.label }}</label>
                            <input type="text" name="{{ form.username.html_name }}" class="form-control">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.password.errors %}
                            <label for="" class="form-text">{{ form.password.label }}</label>
                            <input type="password" name="{{ form.password.html_name }}" class="form-control is-invalid">
                            {% for error in form.password.errors %}
                                <div class="error mt-2">{{ error }}</div>
                            {% endfor %}
                            {% else %}
                            <label for="" class="form-text">{{ form.password.label }}</label>
                            <input type="password" name="{{ form.password.html_name }}" class="form-control">
                            {% endif %}
                        </div>
                        {% for error in form.non_field_errors %}
                            <div class="col-12 px-0 my-2 text-center">
                                <div class="error">{{error}}</div>
                            </div>
                        {% endfor %}
                        <button type="submit" class=" btn btn-block btn-outline-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}