{% extends '../common/base.html' %}

{% block main %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="col-12">
        <h2 class="text-center">Signup</h2>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            {% if form.username.errors %}
              <label for="" class="form-text">{{ form.username.label }}</label>
              <input type="text" name="{{ form.username.html_name }}" class="form-control is-invalid">
              {% for error in form.username.errors %}
                <div class="error mt-2">{{ error }}</div>
              {% endfor %}
            {% else %}
              <label for="" class="form-text">{{ form.username.label }}</label>
              <input type="text" name="{{ form.username.html_name }}" class="form-control">
            {% endif %}
          </div>
          <div class="form-group">
            {% if form.password1.errors %}
              <label for="" class="form-text">{{ form.password1.label }}</label>
              <input type="password" name="{{ form.password1.html_name }}" class="form-control is-invalid">
              {% for error in form.password1.errors %}
                <div class="error mt-2">{{ error }}</div>
              {% endfor %}
            {% else %}
              <label for="" class="form-text">{{ form.password1.label }}</label>
              <input type="password" name="{{ form.password1.html_name }}" class="form-control">
            {% endif %}
          </div>
          <div class="form-group">
            {% if form.password2.errors %}
              <label for="" class="form-text">{{ form.password2.label }}</label>
              <input type="password" name="{{ form.password2.html_name }}" class="form-control is-invalid">
              {% for error in form.password2.errors %}
                <div class="error mt-2">{{ error }}</div>
              {% endfor %}
            {% else %}
              <label for="" class="form-text">{{ form.password2.label }}</label>
              <input type="password" name="{{ form.password2.html_name }}" class="form-control">
            {% endif %}
          </div>
          <button type="submit" class=" btn btn-block btn-outline-primary">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}