{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% if page_title %}
    <title>Sentinel {{page_title}}</title>
    {% else %}
    <title>Sentinel</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg transperent-1 navbar-light bg-light p-4 shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'issues' %}">Sentinel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary m-2" href="">{{ request.user.username }}</a>
                    </li> 
                    <li class="nav-item">
                        <a class="btn btn-outline-warning m-2" href="{% url 'issues' %}">Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success m-2" href="{% url 'onboarding' %}">Onboarding</a>
                    </li> 
                    <li class="nav-item">
                        <a class="btn btn-outline-warning m-2" href="{% url 'integrations' %}">Integrations</a>
                    </li> 
                    <li class="nav-item">
                        <a class="btn btn-outline-dark m-2" href="{% url 'logout' %}">Logout</a>
                    </li> 
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-success m-2" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary m-2" href="{% url 'signup' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
{% block main %}
{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
