<!-- <nav>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="nav_item mr-2">
                    <a href="">Home</a>
                </div>
                <div class="nav_item">
                    <a href="">Issues</a>
                </div>
            </div>
        </div>
    </div>
</nav> -->